service: twitter-blockchainifyly

provider:
  name: aws
  runtime: nodejs6.10

plugins:
  - serverless-offline
  - serverless-prune-plugin

functions:
  tweet:
    handler: handler.tweet
    events:
      - schedule: rate(182027 seconds)
